@use 'pix-design-tokens/breakpoints';

.pix-app-layout {
  --pix-navigation-spacing-link: var(--pix-spacing-2x);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  @include breakpoints.device-is('tablet') {
    display: grid;
    grid-template-areas:
      'banner banner'
      'navigation main'
      'navigation footer';
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
  }

  &--without-footer {
    .pix-app-layout__footer {
      padding: 0;
      display: none;
      width: 0;
    }
  }

  &--without-navigation {
    @include breakpoints.device-is('tablet') {
      & > .pix-app-layout__main,
      .pix-app-layout__footer {
        max-width: calc(100vw - 2 * var(--pix-spacing-6x));
      }
    }

    @include breakpoints.device-is('desktop') {
      & > .pix-app-layout__main,
      .pix-app-layout__footer {
        max-width: min(calc(100vw - 2 * var(--pix-spacing-6x)), 73rem);
      }
    }

    .pix-app-layout__navigation {
      padding: 0;
      display: none;
      width: 0;
    }
  }

  &--without-padding {
    & > .pix-app-layout__main {
      max-width: 100%;
      padding: 0;
    }

    & > .pix-app-layout__footer {
      max-width: 100%;
    }
  }

  &__banner {
    position: sticky;
    top: 0;
    z-index: 900;
    grid-area: banner;
  }

  &__navigation {
    position: sticky;
    bottom: var(--pix-spacing-6x);
    z-index: 1;
    grid-area: navigation;
    min-height: calc(100vh - var(--pix-spacing-6x));
    margin: auto 0 0;
    padding: calc(var(--pix-app-layout-top) + var(--pix-spacing-6x)) 0 0 var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      position: unset;
      z-index: auto;
      min-height: auto;
      margin: unset;
      padding: var(--pix-spacing-2x) var(--pix-spacing-2x) 0 var(--pix-spacing-2x);
    }
  }

  &__main,
  &__footer {
    width: 100%;
    max-width: min(calc(100vw - var(--pix-navigation-width) - 3 * var(--pix-spacing-6x)), 93rem);
    margin: 0 auto;
    padding: 0 var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      max-width: none;
      padding: 0 var(--pix-spacing-2x);
    }
  }

  &__main {
    grid-area: main;
    padding-top: var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      margin-bottom: auto;
      padding-top: var(--pix-spacing-2x);
    }
  }

  &__footer {
    grid-area: footer;
    padding-bottom: var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      padding-bottom: var(--pix-spacing-2x);
    }
  }

  &--admin {
    background-color: var(--pix-primary-10);

    --pix-navigation-color: var(--pix-primary-900);
    --pix-navigation-text-color: var(--pix-neutral-0-inline);
  }

  &--orga {
    background-color: var(--pix-orga-50);

    --pix-navigation-color: var(--pix-orga-500);
    --pix-navigation-text-color: var(--pix-neutral-0-inline);
  }

  &--certif {
    background-color: var(--pix-certif-50);

    --pix-navigation-color: var(--pix-certif-500);
    --pix-navigation-text-color: var(--pix-neutral-0-inline);
  }

  &--primary {
    background-color: var(--pix-primary-10);

    --pix-navigation-color: var(--pix-primary-700);
    --pix-navigation-text-color: var(--pix-neutral-0-inline);
  }

  &--modulix,
  &--primary-light {
    background-color: var(--pix-neutral-0);

    --pix-navigation-spacing-link: var(--pix-spacing-4x);
    --pix-navigation-color: var(--pix-primary-10);
    --pix-navigation-text-color: var(--pix-neutral-800-inline);
    --pix-navigation-width: 88px;
    --pix-navigation-mobile-button-color: var(--pix-primary-900);
  }
}
