.repl-sdk__demo {
  padding: var(--doc-space-4x);
  border: 1px solid var(--doc-border);
  border-radius: var(--doc-space-2x);
  margin: var(--doc-space-4x) 0;
}

.repl-sdk__snippet {
  padding: 0 var(--doc-space-4x);
  border-radius: var(--doc-space-2x);
  background-color: var(--doc-code-bg);
  margin: var(--doc-space-4x) 0;
  font-size: 0.85rem;
  overflow-x: auto;
}

.repl-sdk__snippet > .shiki {
  background-color: var(--doc-code-bg) !important;
}
